.task::before {
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 0.75rem;
}

.task {
  background-color: var(--gray-500);
  height: 4.5rem;
  width: 46rem;
  border-radius: 8px;
}

.taskSelect {
  margin: 1rem 0.75rem 2rem 1rem;
}

.createTask button:hover {
  background: var(--blue);
}

.task button {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.875rem;
  border-radius: 8px;
  background: transparent;
  color: var(--gray-300);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  margin: 1rem 1rem 2rem 0;
}
.task button:hover {
  color: var(--danger);
}

.taskContent {
  color: var(--gray-100);
  font-size: 14px;
  margin: 1rem 0.75rem;
}
